@charset "utf-8";
/* 你自己的样式 */
.selected{
    background-color: #ffffff;
}
A:link{text-decoration:none;}
A:visited{text-decoration:none;}
A:active{text-decoration:none;}

.bk_2{
    border-top:1px solid #e3e3e3;
}

.pd-5  input{
    display: none;
}